:root {
	--font-family: 'Barlow', sans-serif;
	--min-width: 1150px;
	--border-color: #7d8e9b;
	--active-color: #f7d55d;
	--header-height: 80px;
	--screen-padding: 3%;
	--block-background-color: rgba(0, 0, 0, 0.2);
	--block-margin: 16px;
	/* --primary-color: #333a4b; */
}

._block_title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: white;
	/* color: #F0D661; */
	border-bottom: 1px solid #7d8e9b;
	font-size: 22px;
	padding: 0 20px;
	height: 40px;
	letter-spacing: 0.1em;
}

._block_title span {
	display: flex;
}

._block_title_right {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.1s ease-in-out;
}

._block_title_right:hover {
	opacity: 0.6;
}
